button.positive
  border: none
  outline: none
  cursor: pointer
  box-sizing: border-box
  padding: 0 15px
  line-height: 27px
  background: #04A8E5
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1),0 1px 6px 0 rgba(0,0,0,0.1)
  border-radius: 2px
  color: #fff
